.footer__container {
  background-color: var(--light-moderate-cyan);
  padding: 4em;
  text-align: center;
}

.footer__logo {
  width: 70%;
  filter: invert(30%) sepia(10%) saturate(9999%) hue-rotate(115deg)
    brightness(50%) contrast(90%) opacity(0.85);
}

@media (min-width: 1440px) {
  .footer__logo {
    width: 10em;
  }
}
