.footer__container {
    background-color: var(--light-moderate-cyan);
    padding: 4em;
    text-align: center;
}

.footer__logo {
    /* TODO: Read documentation on filter */
    /* width: 10%; */
    filter: invert(27%) sepia(7%) saturate(2968%) hue-rotate(116deg) brightness(50%) contrast(90%);
}
