.main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2em;

    position: absolute;
    z-index: 100;
}

.main-nav__list {
    display: flex;
}

.main-nav__item {
    list-style: none;
}

.main-nav__link {
    text-decoration: none;
    color: white;
    padding: .5em 1em;

    /* font-size: unset;
    line-height: unset; */
}

.main-nav__link:hover {
    cursor: pointer;
}

.main-nav__link:focus   {
    background-color: var(--white);
    color: var(--dark-blue);
    outline: none;
    border-radius: 99999999999999999999px;
    /* padding: .5em 1em; */
}

/* .menu__link:link, 
.menu__link:visited,
.menu__link:hover,
.menu__link:active {
    text-decoration: none;
} */