.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1.25em;
}

.testimonial__title {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: var(--grayish-blue);
}

.testimonial__author {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1rem;
  color: var(--very-dark-desaturated-blue);
  margin-top: 2em;
}

.testimonial__position {
  font-size: 0.75rem;
  color: var(--grayish-blue);
  margin-top: 0.5em;
}

.testimonial__quote {
  color: var(--very-dark-grayish-blue);
  text-align: center;
  line-height: 1.5em;
}

.testimonial__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.testimonial__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.testimonial__item:last-child {
  margin-bottom: unset;
}

.testimonial__image {
  border-radius: 10000000000000px;
  width: 20%;
  margin: 4em 0 3em 0;
}

@media (min-width: 1440px) {
  .testimonial__list {
    flex-direction: unset;
  }

  .testimonial__item {
    width: 350px;
    margin-bottom: unset;
  }

  .testimonial__title {
    font-size: 1.25rem;
  }

  .testimonial {
    padding: 10em;
  }
}
