.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em 0;
}

.testimonial__title {
    padding-bottom: 2em;
}

.testimonial__list{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.testimonial__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    /* width: 200px; */

}

.testimonial__image {
    border-radius: 10000000000000px;
    width: 75px;
}