.tiles {
    display: flex;
    flex-direction: column;
}

.tiles__row {
    display: flex;
    position: relative;
    text-align: center;
}

.tiles__row--reverse {
    flex-direction: row-reverse;
}

.tiles__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 7.6em;
}

.tiles__image,
.tiles__service {
    width: 50%;
}

.tiles__header {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
}

.tiles__text {
    font-size: 1rem;
    color: var(--dark-grayish-blue);
    margin-top: 1.5em;
}

.tiles__link{
    margin-top: 2em;
    text-decoration: none;
    font-family: 'Fraunces', serif;
    color: var(--very-dark-desaturated-blue);
    text-transform: uppercase;
    font-weight: 900;
    width: 32.5%;
    text-align: center;
}

.tiles__link--yellow::after,
.tiles__link--soft-red::after {
    content: "";
    float: left;
    width: 100%;
    height: 10px;
    margin-top: -10px;
    border-radius: 1000000000px;
}

.tiles__link--soft-red:hover::after {
    background-color: hsl(var(--soft-red-hue), var(--soft-red-saturation), var(--soft-red-lightness));
}

.tiles__link--soft-red::after {
    background-color: hsl(var(--soft-red-hue), var(--soft-red-saturation), calc(var(--soft-red-lightness) + 20%));
}

.tiles__link--yellow:hover::after {
    background-color: hsl(var(--yellow-hue), var(--yellow-saturation), var(--yellow-lightness));
}

.tiles__link--yellow::after {
    background-color: hsl(var(--yellow-hue), var(--yellow-saturation), calc(var(--yellow-lightness) + 40%));
}

.tiles__service-header {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 900;
}

.tiles__service-text {
    margin-top: 1.5em;
}

.tiles__service-header--cyan,
.tiles__service-text--cyan {
    color: var(--dark-desaturated-cyan);
}

.tiles__service-header--blue,
.tiles__service-text--blue {
    color: var(--dark-blue);
}

.tiles__service-image {
    width: 100%;
    height: 100%;
}

.tiles__service-description {
    position: absolute;
    top: 65%;
    width: 50%;
    padding: 0 9em;
}