.tiles {
    display: flex;
    flex-direction: column;
}

.tiles__row {
    display: flex;
    position: relative;
    text-align: center;
}

.tiles__row--reverse {
    flex-direction: row-reverse;
}

.tiles__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 10em;
}

.tiles__image,
.tiles__service {
    width: 50%;
}

.tiles__header {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 900;
    color: var(--very-dark-desaturated-blue)
}

.tiles__text {
    font-size: 1rem;
    color: var(--dark-grayish-blue)
}

.tiles__header--cyan,
.tiles__text--cyan {
    color: var(--dark-desaturated-cyan);
}

.tiles__header--blue,
.tiles__text--blue {
    color: var(--dark-blue);
}

.tiles__full-image {
    width: 100%;
    height: 100%;
}

.tiles__full-image-text {
    position: absolute;
    top: 70%;
    width: 50%;
    padding: 0 10em;
}