.social-media {
    display: flex;
    justify-content: center;
}

.social-media__footer-nav {
    margin-top: 3em;
}

.social-media__list {
    display: flex;
    justify-content: center;
    gap: .5em;
    max-width: 8vw;
}

.social-media__item:hover,
.social-media__list a:focus {
    filter: brightness(0) invert(1);
}

.social-media__list a {
    outline: none;
    cursor: pointer;
}