.social-media {
    display: flex;
    justify-content: center;
}

.social-media__footer-nav {
    margin-top: 3em;
}

.social-media__list {
    display: flex;
    justify-content: space-between;
    width: 8vw;
}

.social-media__item {
    /* filter: invert(50%) sepia(50%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%); */
}

.social-media__item:hover,
.social-media__item:focus {
    /* 
        color: var(--white); 

        color will not work because the items are images.
        Will need to use filter. E.g.
        filter: invert(27%) sepia(7%) saturate(2968%) hue-rotate(116deg) brightness(50%) contrast(90%);
    */
    filter: invert(50%) sepia(50%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.social-media__item:hover {
    cursor: crosshair;
}

.social-media__item:focus   {
    color: var(--white);
    outline: none;
}